<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!--<p th:text="${errorMsg}" style="color: red"></p>-->

<!--TODO: Continue at 12.5.6.a. - >>>I don't fully understand what they mean! :( <<<<<:-->
<form th:each="event : ${events}" method="post" th:action="@{/events/edit}">
    <div class="form-group">
        <label th:text="${event.name}">Name
            <!--        <input type="text" name="eventName" class="form-control"> Had to be refactored to match Event class attributes-->
            <!--        <input type="text" name="name" class="form-control">-->
            <input th:field="${event.name}" class="form-control">
            <p class="error" th:errors="${event.name}"></p>
        </label>
    </div>
    <div class="form-group">
        <label th:text="${event.eventDetails.description}">Description
            <!--            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes-->
            <input th:field="${event.eventDetails.description}" class="form-control">
            <p class="error" th:errors="${event.eventDetails.description}"></p>
        </label>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Contact Email-->
<!--            &lt;!&ndash;            <input type="text" name="contactEmail" class="form-control">&ndash;&gt;-->
<!--            <input th:field="${event.contactEmail}"  class="form-control">-->
<!--            <p class="error" th:errors="${event.contactEmail}"></p>-->
<!--        </label>-->
<!--    </div>-->

<!--    &lt;!&ndash;    The below 4 are from exercise 13:&ndash;&gt;-->
<!--    <div class="form-group">-->
<!--        <label>Location-->
<!--            &lt;!&ndash;            <input type="text" name="contactEmail" class="form-control">&ndash;&gt;-->
<!--            <input th:field="${event.location}"  class="form-control">-->
<!--            <p class="error" th:errors="${event.location}"></p>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Number of Attendees-->
<!--            &lt;!&ndash;            <input type="text" name="contactEmail" class="form-control">&ndash;&gt;-->
<!--            <input th:field="${event.numberAttendees}"  class="form-control">-->
<!--            <p class="error" th:errors="${event.numberAttendees}"></p>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Registration Needed:-->
<!--            &lt;!&ndash;            <input type="text" name="contactEmail" class="form-control">&ndash;&gt;-->
<!--            <input type="checkbox" th:field="${event.registrationNeeded}"  class="form-control">-->
<!--            <p class="error" th:errors="${event.registrationNeeded}"></p>-->
<!--        </label>-->
<!--    </div>   <div class="form-group">-->
<!--    <label>Not Funny?-->
<!--        &lt;!&ndash;            <input type="text" name="contactEmail" class="form-control">&ndash;&gt;-->
<!--        <input type="checkbox" th:field="${event.notFunny}"  class="form-control">-->
<!--        <p class="error" th:errors="${event.notFunny}"></p>-->
<!--    </label>-->
<!--</div>-->

    <div class="form-group">
        <a th:href="@{/events/create/{id}(id=${event.id})}" th:value="${event.id}" name="id">Edit</a>
        <input type="hidden" th:value="${event.id}" name="eventId" />
        <input type="submit" th:value="'Event #' + ${event.id}" class="btn btn-success"/>
        <input type="submit" value="Edit" class="btn btn-success"/>
    </div>
</form>

<!--<<<<<<<<<Some test space here:-->
<!--<tr th:each="category : ${categories}">-->
<!--    <td th:text="${category.name}">TEST SPACE</td>-->
<!--</tr>-->

</body>
</html>


<!--OLD VERSION THAT DIDN'T WORK:-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->

<!--<header th:replace="fragments :: header"></header>-->

<!--<form method="post">-->
<!--&lt;!&ndash;<form method="post" th:action="@{/events/edit}">&ndash;&gt;-->
<!--    <div class="form-group">-->
<!--        <label>-->
<!--&lt;!&ndash;            <span th:text="${event.name}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden"   name="id" class="form-control"/>&ndash;&gt;-->
<!--&lt;!&ndash;            *******This below line needs fixing so it feeds eventId correctly into EventController's "/events/edit/{...}"********&ndash;&gt;-->
<!--            <input type="hidden" th:value="${event.id}" name="id" class="form-control"/>-->
<!--&lt;!&ndash;            <input type="hidden" th:value="${event.id}" name="id" class="form-control"/>&ndash;&gt;-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--    <label>Name-->
<!--&lt;!&ndash;        <input type="text" name="eventName" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--        <input type="text" name="name" class="form-control"/>-->
<!--    </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Description-->
<!--&lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="description" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Contact Email-->
<!--            &lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="contactEmail" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Location-->
<!--            &lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="location" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Number of Attendees-->
<!--            &lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="numberAttendees" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Registration Needed-->
<!--            &lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="registrationNeeded" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Funny?-->
<!--            &lt;!&ndash;            <input type="text" name="eventDescription" class="form-control"> Had to be refactored to match Event class attributes&ndash;&gt;-->
<!--            <input type="text" name="notFunny" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <input type="submit" value="Edit Event" class="btn btn-success"/>-->
<!--    </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->